:root {
  --primary-color: #4B3F3F;
  --secondary-color: #ABEBD2;
  --tertiary-color: #454545;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*HEADER/NAB BAR STYLES START*/

header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;   
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*HEADER/NAVBAR STYLES END*/

/*STYLE ALL SECTION TAGS*/
section {
  padding: 60px;
}

/*HERO STYLES START*/
.hero {
  background-image: url("../images/teal-computer.jpg");
  background-position: 150%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*HERO STYLES END*/

/*SECTION TITLE STYLES START*/
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--primary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}
.primary-border {
  border-color: var(--primary-color)
}

/*ABOUT ME STYLES START*/

.intro p {
  line-height: 1.7;
  color: var(--primary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
  padding-left: 30px;
}

/*ABOUT ME STYLES END*/

/*PROJECTS STYLE START*/

.projects {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  margin: 20px;
  flex: 1;
  background: var(--primary-color);
  color: var(--secondary-color);
}

.image-title {
  position: absolute;
  bottom:90%;
  left: 0;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 25px 15px;
}

.project img {
  width: 100%;
}

article img:hover {
  opacity: .7;
}

article {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.project-image-fit {
  height: 355px;
  object-fit: cover;
}
.project a {
  position:relative;
}

.project-info {
  padding: 25px;
  line-height: 1.3;
}

.project-info h3 {
  font-size: 28px;
}

.project-info h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.project-info p {
  font-size: 17px;
}
/* PROJECT STYLES END */

/*Contact Me STYLES START*/

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.resume {
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--primary-color);
  width: 50%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
}
/*CONTACT ME STYLES END */

/*UTILITIES*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

.flex-column-half {
  justify-content: space-between;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1024px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .hero {
    width: 100%;
  }
  
  .section-title {
    width: 80%;
  }
  
  .projects {
    flex: 0 70%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .project-info h3 {
    flex: 1 100%;
    text-align: center;
  }
  .project img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

}