html {
    display:block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

body {
    box-sizing: border-box;
    color: black;
    background: teal;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5; 
}

#header_wrap {
    background: teal;
}

.outer {
    width: 100%;
}